{% extends 'music/layout.html' %}
{% block body %}
<h2>All songs</h2>
<div class="container">
    <div class="row">
        {% for song in songs %}
        <div class="col-12" style="box-sizing:border-box; max-height:100px; border:1px solid black; padding:5px;">
            <div class="row">
            <a class="col-7" style="text-decoration: none;" href="{% url 'music:song_detail' song.id %}">{{song.song_title}} -
                {{song.file_type}}</a><a style="text-align: right;" class="col-5" href="{% url 'music:artist_detail' song.album.artist %}"> ( {{song.album.artist}} )</a>
        </div>
    </div>
        {%endfor%}
    </div>
</div>
{% endblock %}